.button {
  composes: d-inline-block from global;

  border-radius: 5px;
  line-height: 38px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;

  padding: 0 24px;

  outline: none !important;
  cursor: pointer;
  border: none;
}

/* rounded */
.rounded {
  composes: button;

  border-radius: 20px;
  padding: 0 32px;
  min-width: 120px;

  /* default */
  &--default {
    composes: rounded;
    composes: bg-white from global;
  }

  /* primary */
  &--primary {
    composes: rounded;
    composes: bg-blue from global;

    &:active {
      background: #3F9FFF;
    }
  }
}
